{{!< default}}

{{#page}}

<main id="main">
    <section class="post">

        <h2>{{title}}</h2>
        <div class="content">
            {{content}}
            Testing
        </div>

    </section>
</main>

{{/page}}