{{!< default}}

{{#page}}

<main id="main">
    <section class="post">

        <div class="content">
            <h2>{{title}}</h2>
            {{content}}
        </div>

    </section>
</main>

{{/page}}